.web-option a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.web{
    display: flex;
    /* background-color: #fff; */
    align-items: center;
    flex:1;
}
.web-option{
    font: 20px;
    margin-right: 16px;
    font-weight: 700;
}
.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.web-option:last-child{
    margin-right: 0px;
}