.web-option a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.web{
    display: flex;
    /* background-color: #5036c5; */
    width: fit-content;
    align-items: center;
    flex:1;
    z-index: 1000;
}
.web-option{
    font: 20px;
    margin-right: 16px;
    /* background-color: red; */
    display: flex;
    font-weight: 700;
    align-items: center;
}
.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.web-option:last-child{
    margin-right: 0px;
}
#nav-res{
    display: flex;
    align-items: center;
}