.contact{
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 2%;

}
.section-title{
 font-size: 32px;   
 font-weight: 700;
 margin: auto;

}
.contact-container{
    display: grid;
    grid-template-columns: 40% 50%;
    flex:1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}
.contact-left{
    
    font-size: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.download{
    /* border:1px solid rgb(172, 95, 203); */
    border-radius: 4px;
    font-size: 100%;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;


}
.contact-mail{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

@media only screen and (max-width: 720px){
    .contact-container{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
    }
    .contact-left{
        max-width: 100%;
        font-size: 18px;
        margin-bottom: 12px;
    }
    .download{
        font-size: 16px;
    }
}