.header{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position:fixed;
    width: 96%;
    justify-content: space-between;
    flex:1;
    padding: 12px;
    margin: auto;
    /* background; */
    backdrop-filter: blur(400px);
    align-items: center;
}
.logo-img{
    width:30px;
    border-radius: 50%;
}
.menu{
    /* background-color:white; */
    display: flex;
    flex:1;
    justify-content: flex-end;
}
.menu-icon{
    font-size: 24px;
}
.mobile-menu{
    display: none;
}
.web-menu{
    display: flex;

}
.logo{
    display: flex;
    font-size: 30px;
    font-weight: 600;
}
@media only screen and (max-width: 720px){
    .mobile-menu{
        display: flex;

    }
  .web-menu{
    display: none;
  }
  .logo{
    font-size: 24px;
  }
}
