
.about{
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    

}



.about-main{
    /* display: flex; */
    display :grid;
    grid-template-columns: repeat(2,1fr);
    /* border:1px solid red; */
    margin: 2%;


}
.about-head{
  margin: auto;
  width:100%;
  padding: 4%;
  margin: auto;

  /* border:1px solid red; */

   
   
}
.about-bottom{
    
    font-size:larger;
    /* border:1px solid red; */
     display: flex;
    align-items: center;
    /* text-align: center; */
}
.about-heading{
    text-align: center;
    align-items: center;
}
@media only screen and (max-width: 720px){
    .about{
        margin:2px;
        font-size: 18px;
    }
    .about-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-head{
        width: 70%;
        padding: 4px;
        /* color: white; */
        margin-bottom: 10px;
        
    }
    .about-bottom{
        width: 90%;
        
        align-items: center;
        
    }
}